<style>
  .controls button {
    background-color: #f0f1ff;
    color: #5664f5;
    font-weight: bold;
    border: 0;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1.2rem;
  }

  svg {
    /* ISSUE: #13 Remove fixed width from Timer + remove manual <br> */
    width: 20em;

    --stroke: #5664f5;
    --delay: -1s;

    stroke: var(--stroke);

    circle {
      fill: none;
      transform: rotate(-90deg) scaleY(-1);
      transform-origin: center;
      animation: timerAnimation linear 1s;
      animation-play-state: paused;
      animation-delay: var(--delay);
    }

    text {
      fill: var(--stroke);
    }
  }

  @keyframes timerAnimation {
    0% {
      stroke-dasharray: 0 283;
    }

    100% {
      stroke-dasharray: 283 283;
    }
  }

  #durationInput {
    display: none;
  }

  select:has(option:last-child:checked) ~ #durationInput {
    display: block;
  }
</style>

<select id="timerState" hidden>
  <option value="active"></option>
  <option value="break"></option>
  <option value="paused"></option>
</select>

<svg id="timer" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="45" stroke-width="1"></circle>
  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">0</text>
</svg>
<br>
<label for="duration">Duration:</label>
<select id="durationOptions">
  <option value="25">25 minutes</option>
  <option value="50">50 minutes</option>
  <option value="custom">Custom</option>
</select>
<input type="number" id="durationInput" min="1" step="1" pattern="\d+">

<div class="controls">
  <button id="start">Start</button>
  <button id="pause">Pause</button>
  <button id="stop">Reset</button>
</div>