@import url('./styles/theme.css');

body {
    background-color: #f7f9fc;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

@keyframes timerAnimation {
    0% {
        stroke-dasharray: 0 283;
    }

    100% {
        stroke-dasharray: 283 283;
    }
}

timer-component {
    display: flex;
    flex-flow: column;
    align-items: center;

    select+input {
        display: none
    }

    select:has(option[value=custom]:checked)+input {
        display: block;
    }

    svg {
        width: 20em;

        --delay: -1s;
        stroke: var(--a);
        fill: var(--a);

        circle {
            fill: none;
            transform: rotate(-90deg) scaleY(-1);
            transform-origin: center;
            animation: timerAnimation linear 1s;
            animation-play-state: paused;
            animation-delay: var(--delay);
        }
    }

    fieldset {
        border: none;
        display: flex;

        input,
        input:checked+label,
        #play:checked~#reset+label,
        #pause:has(~#reset:checked)+label {
            display: none;
        }

        svg {
            width: 1em;
            height: 1em;
        }
    }
}

task-list {
    display: flex;
    flex-flow: column;
    width: 25em;
    margin-top: 1.25em;

    article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        border-radius: 0.3125em;
        margin-bottom: 0.9375em;
        border: 0.125em solid #36454F;
        width: 100%;
        position: relative;

        h3 {
            margin: 0 0.625em;
            font-size: 1em;
            color: var(--ae);
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            line-height: 1;

            span.material-symbols-outlined {
                display: block;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -.25em;
            width: calc(100% - 2em);
            height: 0.25em;
            background-color: #36454F;
            border-radius: 0.125em;
        }

        input[type=text] {
            border: none;
            background-color: transparent;
            flex-grow: 1;
            margin-right: 0.625em;
            box-sizing: border-box;
            font-size: 1em;
        }

        input[type=text]:focus {
            border-left: 0.25em solid #36454F;
        }

        input[type=checkbox]:checked + input[type=text] {
            text-decoration: line-through;
        }
    }
}