@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
    background-color: #f7f9fc;
    font-family: "Lexend Deca", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* A button, or something pretending to be */
button, .button {
    all: unset;
    background-color: var(--color-component);
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
    font-size: 1.25em;
    border: var(--color-border) solid;

    &:hover {
        filter: brightness(var(--brightness));
    }
}
